// Font variables
$main_font: 'DM Sans', sans-serif;

// Color variables
$main_text_color: #000;
$secondary_text_color: #fff;
$paragraph_color: #777777;
$main_color: #ef8706;
$secondary_color: #6e6e6e;
$comments_color: #00acee;
$footer_bg_color: #f5f7f8; 
$date_color: #ee1c25;
$list_item_color: #333333;