.servicing {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        background-color: $main_color;
        background-image: linear-gradient(-30deg, #ee4922 1%, #ef8705 100%, #ef8705 100%, #ef8705 100%);
        min-height: 500px;
        width: 585px;
        top: -7px;
        margin: auto;
        right: 0;        
        z-index: -1;
        border-bottom-left-radius: 54px;
        border-top-left-radius: 54px;
        @media only screen and(max-width: 1280px) {
           width: 40%;
           min-height: 55%;
        } 
        @media only screen and(max-width: 800px) {
            width: 60%;
            min-height: 35%;
        } 
        @media only screen and(max-width: 640px) {
            top: 50px;
        } 
        
    }
}
.servicing__inner {
    padding-bottom: 200px;
    @media only screen and(max-width: 800px) {
        padding-bottom: 0;
    }
}
.servicing__text-wrap {
    padding: 22px 120px 10px 50px;
    @media only screen and(max-width: 1280px) {
        padding: 22px 50px 10px 50px;
    }
    @media only screen and(max-width: 800px) {
        padding: 0 0 65px 0;
    }
}
.servicing__title {
    margin-bottom: 30px;
}
.servicing__img-wrap {
    margin-left: 15px;
    margin-top: 60px;
    @media only screen and(max-width: 1280px) {
        margin-left: 40px;
    } 
    @media only screen and(max-width: 800px) {
        margin-top: 0;
        padding-left: 0;
        margin-left: 0;
        max-width: 100%;
        img {
            @media only screen and(max-width: 800px) {
                display: block;
                width: 100%;
            }

        }
    }
}
